.slide-left-enter-active, .slide-right-enter-active {
    transition: 0.2s;
  }
  .slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(80%, 0);
    transform: translate(80%, 0);
  }
  .slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-80%, 0);
    transform: translate(-80%, 0);
  } 